.bannerpic
{
	clear:both;
	background:no-repeat center top;
    height:280px;
	text-align:center;
}
.infoCentent
{
	clear:both;
	width:1004px;
	margin:0px auto;
}
.infoList
{
	float:left;
	width:240px;
	border-color:#fff;
	border-width:1px;
	border-style:solid;	
	border-bottom-width:0px;
	border-top-width:0px;
	border-left-width:0px;
}
.listBorder
{
	border-color:#dadada;
	border-width:1px;
	border-style:solid;	
	border-bottom-width:0px;
	border-top-width:0px;
	border-left-width:0px;	
}
.infosamllTitle
{
	font-size:14px; 
	color:#999999;
}
.infobigTitle
{
	font-size:18px;
}

.infoTitle
{
    text-align:center;
	padding-top:15px;
	padding-bottom:15px;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:rgb(255, 140, 3);
}
.LmStyle
{
	list-style:none;
	margin:0px;
	padding:0px;
}
.LmStyle li
{
	list-style:none;
	width:237px;
	text-align:center;
	padding:10px 0px 10px 0px;
	font-size:15px;
	color:#000;
	margin-bottom:3px;
	cursor:pointer;
	border-bottom-color:#ccc;
	border-bottom-width:1px;
	border-bottom-style:dashed;
	background-image:url(../images/ico.png);
	background-position-x:70px;
	background-repeat:no-repeat;
}
#selected
{
	list-style:none;
	width:237px;
	text-align:center;
	padding:10px 0px 10px 0px;
	font-size:15px;
	color:rgb(255, 140, 3);
	margin-bottom:3px;
	background-image:url(../images/icoselected.png);
	background-position-x:70px;
	background-repeat:no-repeat;
	

}
.ServiceListUl
{
	list-style:none;
	margin:0px;
	padding:15px 0px 0px 0px;
}
.ServiceListUl li
{
	list-style:none;
	padding:0px 0px 10px 0px;
	text-align:center;
}
.inforight
{
	float:left;
	font-size:14px;
	padding:10px;
}
#ulNewsList
{
	list-style:none;
	margin:0px;
	padding:0px;
}
#ulNewsList span
{
	font-size:12px;
	margin-right:20px;
	float:right;
	color:#8e8e8e;
}
#ulNewsList li
{
	list-style-position:outside;
	list-style-image:url(../../images/ico/dian.gif);
	margin-left:40px;
	padding:10px 5px 10px 5px;
	border-bottom:1px dashed #ccc;
	width:650px;
}

.siteClass a,
.titleCentent a,
#ulNewsList li a
{
	color:#3e3530;
	font-size:14px;
	text-decoration:none;
	
}

.siteClass  a:hover,
.titleCentent a:hover,
#ulNewsList li a:hover
{
	color:#ff8c03;
	font-size:14px;
	text-decoration:none;
	
}
.titleBg
{
	border-bottom:1px solid #e0e0e0;
	padding-top:15px;
}
.titleCentent
{
	border-bottom:1px solid #cacaca;
	height:30px;
	font-size: 16px;
}
.titleCentent1
{
	border-bottom:1px solid #ffffff;
	height:29px;
}

.titleCentent_div
{
	padding-right:10px;
	float:right;
}

.titleBefore,
.titleBefore a
{
	color:#999999;
}

.titleAfter
{
	color:#000;
	font-size:14px;
}

.divcontent
{
   padding:20px 30px 10px 30px;   
}

#Pagination
{
	text-align:center;	
}
.siteClass ul
{
	 padding-left:50px;	
}
.siteClass li
{
	display:inline;
	padding-left:5px;
	padding-right:5px;
}
.smallTitle li
{
	padding-right:30px;
    text-align:center;
}
#bigTitle li a
{
    color:#ff8c03;
    font-size:16px;
}
#bigTitle li a:hover
{
    color:#f838fa;
    font-size:16px;
}
