ul, li, p, a, h6, h4, h3 {
    margin: 0px;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    font-weight: normal;
}
.content-box {
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
    color: #454545;
    line-height: 30px;
    overflow: hidden;
}
.xq-left-box {
    float: right;
    width: 846px;
    padding-right: 30px;
    border-right: 1px #f1f1f1 solid;
}
.new-list {
    border-top: 1px #eee solid;
}
.new-list > li {
    border-bottom: 1px #eee solid;
    line-height: 40px;
}
.new-list > li > a {
    padding-left: 5px;
    width: 80%;
    /*background: url(../images/news-po.png) left center no-repeat;*/
    font-size: 14px;
}
.new-list > li > a:before{
    content: ">> \20 \20 \20 \20"
}
.new-list > li > a:hover {
    color: #c12c2c;
}
.new-list > li > span {
    float: right;
    color: #999;
}
.xq-right-box {
    float: left;
    width: 200px;
}
.xq-detail {
    border-top: 1px solid #e6e6e6;
    margin-bottom: 60px;
}
.xq-detail li {
    width: 182px;
    padding-left: 18px;
    border-bottom: 1px #e6e6e6 solid;
    height: 50px;
    word-break: break-all;
    overflow: hidden;
}
.xq-detail li > a {
    line-height: 50px;
    padding-left: 34px;
}
.xq-detail li > a.xq-detail01:hover {
   
    color: #13b024;
}